.main-toolbar
  .tools-group
    .tool.tool-back
      label Back to project list
  .client-select.client-select-toolbar
  .tools-group
    .tool.tool-inspect
      label Inspect on page
    .tool.tool-refresh
      label Reload elements
    .tool.tool-identify
      label Identify client
    .tool.tool-embed
      label Single window mode
    .tool.tool-sidebyside
      label Side by side single window
  .tools-group
    .tool.tool-edit
      label Edit project
    .tool.tool-settings
      label Settings
  .sidebar-toggle
.main-container
  .main
    .sidebar
      .client-select.client-select-sidebar
      .block-heading
      .infobar.infobar-outline.overflow-row
      .styleinfo
      .resizer.resizer-vertical
        .inner
          .thumb
      .elements-outline
      .no-clients-fallback
        .connect-helper
          | To see real time updates and live debugging data open another browser window at
          span.url
          | and connect it to Styler using either injected code, bookmarklet or an extension.
        .hide-hint
          | If you don't need the client area you can click the collapse icon to hide it.

    .resizer.resizer-horizontal
      .inner
        .thumb
    .main-content
      .editor-container
  .cli-container