.toolbar
  .tools-group
    .tool.tool-file-list
    .tool.tool-save.is-disabled
  .tabs
  .search
.block-heading
.infobar.infobar-editor
  .infobar-toggle
  .editor-info
    .locking-toggle
    .file-filter
      input(type="checkbox")
      | Only active files
    .selected-rule
      .selector
      .selector-elements
      .selection-hint
        .inner
.filebrowser
.editor
.statusbar