.selection 
.options
  .label Tab Size
  .option.option-size.option-size-2(data-tabsize=2) 2
  .option.option-size.option-size-3(data-tabsize=3) 3
  .option.option-size.option-size-4(data-tabsize=4) 4
  .option.option-size.option-size-8(data-tabsize=8) 8
  .separator
  .option.option-format Reformat file
  .separator
  .option.option-type Soft tabs(spaces)

