.warning-img
.warning-message
  | Application was opened in another window for the same project.
  br
  | Refresh to force this window.
.button.reload(onclick="window.location.reload()") Reload window

.hint If you don't need this window any more you can safely close it.