.warning-img
.warning-message
  | The Console part of this application is currently only tested in Webkit based browsers (Chorme & Safari) and Firefox 10+. Please use these browsers for best results. You can use any modern browser (Chrome, Firefox, Safari, IE9+, Mobile Safari) in the client side of the app.
.ignore.button(onclick="window.sessionStorage.setItem('_ignore_agent', 1); window.location.reload()")
  | Ignore this warning