.gr {
  float: left;
  margin: 0 20px 30px 0;
  text-align: left;
  width: 225px;
}
.gr-last {
  margin-right: 0;
}
.gr-name {
  color: #000;
  font-size: 14px;
  margin: 0 0 4px 0;
}
.gr-name a {
  font-weight: bold;
}
.gr-name .prod-count {
  color: #999;
  font-size: 11px;
  font-weight: normal;
  padding-left: 3px;
}
.gr-descr p {
  padding: 0;
}
#prod-count {
  color: #a1a1a1;
  font-size: 12px;
  padding-left: 10px;
}
#prod-list {
  clear: both;
  margin-top: 0;
}
#prod-list .col-code {
  width: 10%;
}
#prod-list .col-name {
  width: 30%;
}
#prod-list .col-other {
  width: 12%;
}
#prod-list .col-price {
  text-align: right;
  width: 12%;
}
#prod-list .col-btn {
  padding-left: 18px;
  white-space: nowrap;
  width: 7%;
}
.paginator {
  clear: both;
  float: left;
  font-size: 11px;
  width: 100%;
}
.paginator .prev {
  float: left;
  text-transform: uppercase;
}
.paginator .pages {
  float: left;
  text-align: center;
  width: 80%;
}
.paginator .page {
  display: inline;
}
.paginator .page a {
  padding: 0 5px;
}
.paginator .next {
  float: right;
  text-align: right;
  text-transform: uppercase;
  width: 10%;
}
.paginator a {
  color: #666;
  line-height: 24px;
  text-decoration: none;
}
.paginator a:hover {
  color: #000;
  text-decoration: none;
}
.paginator .active a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.paginator .disabled {
  visibility: hidden;
}
.button-cart {
  background: url("../tmpl/img/button_cart.png") no-repeat 0 0;
  cursor: pointer;
  float: left;
  height: 28px;
  width: 28px;
}
.button-cart:hover {
  background-position: 0 -33px;
}
#response-wrap {
  position: relative;
}
#response {
  background-color: #fffae7;
  border: 1px solid #ee8b30;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  font-size: 11px;
  line-height: 100%;
  padding: 8px 12px;
  position: absolute;
  right: 35px;
  top: 0;
  width: 640px;
}
.prod {
  float: left;
  margin-right: 47px;
  margin-top: 20px;
  width: 400px;
  padding: 15px;
  height: 550px;
}
.prod .prod-img {
  width: 400px;
  height: 250px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.prod .prod-name {
  font-weight: bold;
  padding-bottom: 12px;
}
.prod .info {
  line-height: 140%;
  font-size: 12px;
}
.prod .info span {
  font-weight: bold;
}
.prod .info .info_item {
  padding-bottom: 5px;
}
