#page_cont {
  border-top: 10px solid #333;
}
#page {
  width: 980px;
  margin: 0 auto;
}
#header {
  margin-top: -10px;
  height: 485px;
  background: url("../img/banner/1.jpg") no-repeat 98% 35px;
  position: relative;
}
#header .logo {
  background: url("../img/logo.png");
  width: 210px;
  height: 60px;
  left: 145px;
  top: 35px;
  position: absolute;
}
#header .left_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  background: url("../img/menu1_bg_mid.png");
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
#header .left_bar .contents {
  min-height: 382px;
  height: auto !important;
  height: 382px;
  background: url("../img/menu1_bg_top.png") no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  padding-top: 25px;
  -webkit-transition: background-color 0.8s;
}
#header .left_bar .contents .small_logo {
  display: block;
  width: 108px;
  height: 78px;
  margin: 0px auto 10px;
  background: url("../img/logo_small.png") no-repeat;
}
#header .left_bar .contents .menu1_cont {
  clear: both;
}
#header .left_bar .bottom {
  height: 19px;
  background: #fff url("../img/menu1_bg_bot.png");
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
#main {
  height: auto !important;
  height: 200px;
  min-height: 200px;
  margin-top: -20px;
  padding-bottom: 35px;
  position: relative;
}
#main #article {
  font-family: Arial;
  font-size: 14px;
  line-height: 135%;
  color: #555;
  padding-right: 20px;
  padding-left: 5px;
}
#main #article img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#footer_cont {
  background: #000;
  padding: 20px 0 40px;
}
#footer {
  width: 960px;
  margin: 0 auto;
  color: #fff;
}
#footer .contacts {
  float: left;
  width: 400px;
  font-family: Tahoma;
}
#footer .contacts .name {
  font-size: 16px;
  padding-bottom: 10px;
}
#footer .contacts .address {
  font-size: 12px;
  line-height: 145%;
  color: #aaa;
}
.fp_gr_list {
  padding-top: 15px;
}
.fp_gr_list .gr_item {
  float: left;
  width: 230px;
  background-repeat: no-repeat;
  margin-right: 8px;
  height: 130px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.fp_gr_list .gr_item .name {
  width: 150px;
  height: 90px;
  padding: 25px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #b61912;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
  overflow: hidden;
}
.fp_gr_list .gr_item .more {
  position: absolute;
  bottom: 8px;
  left: 15px;
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
}
.fp_gr_list .gr_item:hover .more {
  text-decoration: none;
}
#sponsor_info {
  padding-top: 5px;
}
#sponsor_info .txt {
  float: left;
  width: 460px;
}
#sponsor_info .img_cont {
  float: left;
  width: 480px;
}
#sponsor_info .img {
  width: 225px;
  height: 130px;
  float: left;
  margin-left: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 13px;
}
#sponsor_info .img .inner {
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#sponsor_info .img:hover .inner {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
