#menu1
  padding 0
  margin 0

  //#menu1first-1
  //    border-top none

  #menu1last-1
    border-bottom none

  li.m1
    list-style none
    display block
    border-bottom 1px solid #b41a13
    border-top 1px solid #c62018

    a.m1
      font-family Tahoma, Arial
      color #f87781
      font-size 12px
      text-decoration none
      white-space nowrap
      display block
      text-transform uppercase
      overflow hidden
      padding 6px 7px 6px 20px

    &.l1-active
    &.l1:hover
      > a.m1
        color #fff
            
    &.l1:hover
      ul.l2
        display block

    &.l1
      position relative

    ul.l2
      margin 0
      padding 0
      position absolute
      border 1px solid #c00
      top -1px
      left 140px
      background #b01810 url(../img/menu1_l2_bg.png) repeat-y
      display none
      
      li.m1
        a.m1
          padding 8px 15px
          text-transform none
          &:hover
            color #fff

#menu2

  li.m2
    list-style none
    display block
    float right
    padding 0 11px

    a.m2
      color #fff
      font-family Tahoma
      font-size 13px
      text-decoration none
      border-bottom 1px solid #999

      &:hover
        color #999

      &.active
        color #ccc


#lang
  margin 0
  padding-left 15px
  height 30px

  li.lm
    float left
    list-style none

    a.lm
      font-family Tahoma, Arial
      color #f87781
      font-size 14px
      text-decoration none
      padding 5px
        
    &.active
    &:hover
      a.lm
        color #fff

