body#site
  color: #000
  font-size: 10pt

h1
  color: #000
  background: none
  margin-bottom: 10pt
  padding: 0

#header, #left, #menu1, #menu2, #menu3, #icon-print, #icon-sendlink, #footer
  display: none

#wrap, #content, #right
  float: none
  padding: 0
  width: 100%

#article
  min-height: 0

