body#site
  color #f00 
  font-size: 10pt

#header, #left, #menu1, #menu2, #menu3, #icon-print, #icon-sendlink, #footer_cont
  display none

#wrap, #content, #right
  float none
  padding 0
  width 100%

#article
  min-height: 0

#page_cont
  padding-top 40px
