@import nib
@import util

.stack-scroller-cont
  flex 1
    
.stack-scroller
  overflow-x: scroll
  width 680px
  height 340px
  overflow-y hidden

.stack-cont
  display flex
  flex-direction row
  .stack
    width: 180px
    height 325px
    box-sizing border-box
    overflow-y: scroll
    overflow-x: hidden
    padding 5px 2px
    border-right 1px solid #ccc

    .item
      padding: 2px 5px 2px 25px
      white-space: nowrap
      font-size 12px
      cursor default
      background url(../img/icons.png) no-repeat 5px -490px
      retina()

      &.diritem
        background-position 5px -473px
         
        &.selected
          background-color #3875D7
          color #fff
      
      &.driveitem
        background-position 5px -639px

      &.cssitem
        background-position 5px -499px
      
      &.stylitem
        background-position 5px -519px

.dirpicker
  background #fafafa
  box-sizing border-box
  width 680px
  height 380px
  display flex
  flex-direction column
  
  .buttons
    background: #eee
    border-top 1px solid #888
    height 10%

    .btn
      float: right
      padding 6px 10px
      margin: 6px 3px
      cursor: pointer
      
      &.select
        background dodgerblue
        color #fff
        font-weight bold
        border-radius 2px
        
      &.cancel
        color #444
        text-decoration underline
        
      &:hover
        opacity .8
        
