@import nib
@import util

empty_file()
  > .info
    display none
  &.is-dir
    padding 0
    > .items
      border none
      margin 0

.filebrowser
  flex 1
  overflow-y auto
  min-height 200px
  position relative
  background-color #fff
  padding 3px 7px
  
  &:focus
    outline none

  .is-editormode &
    display none
    
  > .file-item
    empty_file()
    
.file-item
  cursor: pointer
  box-sizing border-box
  overflow hidden
  position relative
  clear both
  
  &.is-empty
    empty_file()
  
  .info > .expand-bullet
    float left
    width 20px
    height 26px
    background url(../img/icons.png) -13px -283px no-repeat
    retina()
    opacity .7
    
  &.is-collapsed
    > .info > .expand-bullet
      background-position 4px -285px
    > .items
      display none
  
  &.is-dir
    padding-top 2px
    > .items
      clear both
      border-top 1px solid #eee
      margin-bottom 5px
    
    > .info > .name
      padding-left 24px
      font-size 14px
      background url(../img/icons.png) 0px -471px no-repeat
      retina()
      
  &.is-file
    border-bottom 1px solid #eee
    
    > .info
      > .name
        padding-left 20px
        background url(../img/icons.png) 0px -495px no-repeat
        retina()
        &:hover
          text-decoration underline
        
      > .size
      > .lastmod
        float right
        color #666
        width 120px
        padding 5px 0
        text-align center


  > .info > .name
    font-weight bold
    white-space nowrap
    text-overflow ellipsis
    color #333
    overflow hidden
    float left
    padding-top 5px
    padding-bottom 5px
    
    > .ext
      color #888
      
  > .info > .active-indicator
    float right
    margin 5px
    
    &:before
      background #fdd
      content "active"
      bottom 12px
      padding 1px 5px
      color #666
      border-radius 3px
      left 12px

  > .info > .open-indicator
    float right
    margin 5px
    &:before
      @extends .file-item > .info > .active-indicator:before
      right 15px
      content "open"
      left auto
      background #dfd
    
  &.is-selected
    background #f2f2f2
    > .items
      background #fff
  

@media (max-width: 820px)
  .file-item .active-indicator
  .file-item .open-indicator
    display none
  
@media (max-width: 700px)
  .file-item .size
    display none
  



