.infotip
  border 1px solid #ddd
  position absolute
  background: #fefef3
  z-index: 100
  border-radius 3px

  > .imagepreview
    height 80px
    
    > .image
      margin auto
      position relative
      top 10px
      border none
    
      > .inner
        width 100%
        height 100%
        background-size 100%
    
    > .imginfo
      position absolute
      top 85px
      width 100%
      margin 0
      padding 0
      > .name
        display none
      
      > .size
        text-align center
        color #999
      
.colorinfo
  .sample
    width 30px
    height 30px
    margin 5px
    float left
    
  .values
    float left
    line-height 12px
    width 40px
    color #333
    padding-top 2px