@import nib
@import util

.selectable
  outline none
  position relative
  
  &:focus > .options
    display block
    
  > .options
    display none
    overflow hidden
    absolute top 100% right 0
    z-index 1000
    border 1px solid #ccc
    
    > .option
      padding 1px 3px 1px 20px
      cursor pointer
      white-space nowrap
      
      &.is-selected
        background url(../img/icons.png) no-repeat 5px -577px
        retina()
      &:hover
        background-color #ccc
        
    > .label
      padding 3px 5px
      color #888
      font-style italic
  
    > .separator
      margin 4px 0px
      height 1px
      background #bbb

      
.infobar-outline
  height 24px
  background #e3e3e3
  
  > .selector
    padding 4px 6px
    font-size 13px
    font-weight bold

  &.is-empty
    > .selector
    > .outline-info
      visibility hidden

.element-tools
  padding 0px 2px 0px 3px
  border-radius 5px
  height 10px
  
  > .parent-selector-cont
  > .media-selector-cont
  > .pseudo-selector-cont
    display table-cell
     
  > .element-rules
    padding 3px
    visibility hidden
    > .inner
      padding 0px 3px
      border-radius 3px
      color #666
      background-color #fff
    
    .has-ruleinfo &
      visibility visible
    
  .selectable
    height 17px
    width 15px
    margin-top 3px
    
    > .options
      width 80px
      border thin solid #ccc
      background #ddd
      border-radius 3px
  

  .pseudo-selector
    background url(../img/icons.png) no-repeat 0px -804px
    retina()
    margin 1px 0 0 3px

  .media-selector
    background url(../img/icons.png) no-repeat 0px -711px
    retina()
    margin 1px 0 0 3px
      
  .parent-selector
    width 15px
    background url(../img/icons.png) no-repeat 3px -728px
    retina()
    
    > .options
      max-width 120px
      width auto
      > .option
        text-align right
        padding-left 5px  

.pseudo-indicator
  width 15px
  display none
  padding-top 3px
  cursor pointer
  
  &:after
    content ">"
    display block
    width 11px
    height 11px
    margin 1px
    border thin solid #fffefe
    border-radius 4px
    font-size 9px
    line-height 140%
    text-align center
    color #fff
    padding-top 1px
    
  &.hover:after
    content 'H'
    background-color #b94506
  &.focus:after
    content 'F'
    background-color #d2ad01
  &.active:after
    content 'A'
    background-color #17b01f
  &.visited:after
    content 'V'
    background-color #3842bd
  
  &.is-selected
    display table-cell
    
  &:hover
    opacity .7
