@import nib

.popup
  width 350px
  display flex
  flex-direction column
  padding 20px
  background #fff
  border-radius 5px
  
  .msg
    line-height 150%
    font-size 14px
    margin-bottom 20px
    
  .buttons
    display flex
    flex-direction row
    box-align end
    box-pack end
    
    .button
      margin: 3px 8px
      padding 6px 12px
      background #f2f2f2
      cursor: pointer
      font-size 14px
      border-radius 3px
      border-bottom 1px solid #ccc
      
      &:hover
        background #eee
      
      &:focus
        background #eff
