@import nib

.settings
  max-width 700px
  min-width 600px
  height 400px
  transition top .6s
  border-radius 2px
  background #fff
  .forms
    position relative
    padding-top 10px
    height 100%
    background #111
    
    .sheet 
      .title
        padding 10px
        background #afc1f6
        width 120px
        margin-bottom 5px
        height 30px
        cursor default
        text-transform uppercase
        color #eee
        background #333
      .contents
        position absolute
        background #fff
        top 10px
        left 140px
        width auto
        right 0px
        height 390px
        visibility hidden
        box-sizing border-box
        padding 5px 12px
        overflow-y auto
        opacity 0
        transition opacity .2s
        .item
          width 100%
      .footer
        margin-top 10px
        
      &.is-selected
        .title
          background #fff
          color #333
        .contents
          visibility visible
          opacity 1
      
      &.keyboard
        .group-name
          margin-top 15px
          font-size 14px
          margin-right 20px
          font-weight bold
          padding-bottom 5px
          border-bottom 1px solid #eee
        .lbl
          width 350px
        .keycommand
          border 1px solid #999
          cursor pointer
          background #f2f2f2
          padding 0px 6px 3px
          font-size 12px
          border-radius 4px
          
          &:hover
            background #ddd
          &.edit
            background #f90
            color #fff
            font-weight bold
            border 1px solid #b83
    .warning
      background-color beige
  .button
    background #eee
    padding 5px 10px
    font-size 13px
    font-weight bold
    position absolute
    top -25px
    right 0px
    text-transform upercase
    
  .item
    padding 4px 4px
    font-size 13px
    clear both
    display flex
    flex-direction row
    
    .lbl
      width 120px
      min-height 20px
      
    .value
      flex 1

.keyenterhint
  font-size 15px
  border-top 3px solid #fff
  position fixed
  bottom 0px
  width 100%
  color #fff
  font-weight bold
  padding 10px
  text-align center
  background #b83
  
  .warningnote
    font-size 12px
    padding 3px 15px
    color #eee
  
