$monospace_family = 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace


retina()
  @media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio:2)
    background-image url(../img/icons@2x.png)
    background-size 41px